*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  font-family: cursive;
}
nav{
  background-color: black;
  color: white;
  padding: 10px ;
  display: flex;
  justify-content: space-between;
  text-align: right;

}
.img-re{
  height:100px;
  width:100px;
}
.menu
{
 
  display:flex;
  
}
.menu li{
  display:inline;
 padding-top:35px; 
  padding-left: 30%;
  
}

.menu li a{
 
  color:white;
  text-decoration: none;
  transition: 0.3s ease;
}
.menu li a:hover{
  color:#f7240d;
}
.search
{
  display:flex;
  align-items: center;
  margin-right:10;
}
.search form{
  display: flex;
  margin:0;
}
.search input{
 
  padding: 8px;
  border: none;
  border-radius: 10px;
}
.search input:hover{
  border: 3px solid blue;

}
.search button{
  padding:8px 12px;
  background-color: #fff;
  border:none;
  border-radius: 10px;
  color:rgb(14, 13, 13);
  
  cursor:pointer;
}

.search button:hover{
  background-color: rgb(13, 147, 215);
}
nav .icon-cart{
  position: relative;
}
nav .icon-cart:hover{
  color:red;}

.icon-cart span{
  display:flex;
  width:20px;
  height:20px;
  background-color: blue;
  justify-content: center;
  align-items: center;
  color:white;
  border-radius: 50%;
  position:absolute;
  top:50%;
  right:-20px;
}

body{
	 background-image:url('back1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#h1{
  font-family: cursive;
          font-size: 50px;
          color: #4CAF50; 
          text-shadow: 2px 2px 6px rgba(12, 12, 12, 0.2);
          letter-spacing: 2px;
          text-align: center;
          margin-top: 50px;
          background-image: linear-gradient(45deg, #FF5733, #abe117,gray,black);
          background-clip: text;
          color: transparent;
       
}



.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 70px;
  }
  
  .item {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .image {
    width: 100%;
    height: 220px;
    transition: opacity 0.3s ease;
  }
  
  .details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .item:hover .details {
    opacity: 1;
  }
  
  .details  {
    color:pink;
    font-family: cursive;
  }
  
  .details a {
    background-color: Blue;
    
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .details a:hover {
    background-color: #45a049;
  }
  footer {
    background-color: #0c0c0c;
    color: #fff;
    text-align: center;
    padding: 5px 0;
   height:100px;
    bottom: 0;
    width: 100%;
    text-align: center;

  padding:35px;
  text-align: center;
  font-family:cursive;
  border-top: 1px solid #ccc;
  
}


footer table {
  width: 100%; 
  border-collapse: collapse; 
}





footer table td p {
  margin: 0; 
}


footer table td a {
  color: #007BFF;
  text-decoration: none; 
  margin-left: 15px; 
}


footer table td a:hover {
  text-decoration: underline; 
}


footer .vr {
  display: inline-block;
  width: 1px; 
  height: 10px;
  background-color: #ccc; 
  margin: 0 10px;
}
